/* TEAM */
	Developer: <%= author_name %>
	Contact:   <%= author_email %>
	URI:       <%= author_url %>

/* THANKS */
	Generator: Duane Cilliers
	URI:		http://duane.co.za
	Twitter:	   @duanecilliers

	Parent Theme: Ben Word
	URI:             http://benword.com
	Twitter:         @retlehs

	Child Theme: Duane Cilliers
	URI:		http://duane.co.za
	Twitter:	   @duanecilliers
